// 
// modal.scss
//

// Title text within header
.modal-title {
    margin-top: 0;
}

// Modal full width
.modal-full-width {
    width: 95%;
    max-width: none;
}

// Modal Positions
.modal-top {
    margin: 0 auto;
}

// Right Modal
.modal-right {
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-color: $modal-content-bg;
    align-content: center;
    transform: translate(25%,0) !important;

    button.btn-close {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1;
    }
}

.modal {
    &.show {
        .modal-right, .modal-left {
            transform: translate(0,0) !important;
        }
    }
}

// Bottom modal
.modal-bottom {
    display: flex;
    flex-flow: column nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    margin: 0 auto;
    align-content: center;
}

// Colored modal header
.modal-colored-header {
    color: $white;
    border-radius: 0;

    .btn-close {
        color: $white !important;
    }
}

// Full filled modals
.modal-filled {
    color: $white;

    .modal-header {
        background-color: rgba($white,0.07);
    }

    .modal-header,.modal-footer {
        border: none;
    }

    .btn-close {
        color: $white !important;
    }
}

// 하은 style 추가
.add-modal .modal-content {
    width: 780px;
    padding: 30px 50px;
}
.add-modal-content {
    display: grid;
    gap: 16px;
    
    label {
        margin-bottom: 6px;
        color: #6C757D;
        font-weight: normal;
    }
    .react-select__control {
        border-color: #EEF2F7;
    }
    .react-select__placeholder {
        color: #98A6AD;
        font-weight: normal;
    }
    input.add-modal-input {
        width: 100%;
        min-height: 38px;
        border: 1px solid #EEF2F7;
        padding: 0 12px;
        font-weight: normal;
        border-radius: 6px;
    }
    input[type="date"]::-webkit-datetime-edit-text,
    input[type="date"]::-webkit-datetime-edit-month-field,
    input[type="date"]::-webkit-datetime-edit-day-field,
    input[type="date"]::-webkit-datetime-edit-year-field {
        color: #98A6AD;
        font-weight: normal;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: #98A6AD;
        opacity: 0.3;
    }
}




/* 하은 - 커스텀 체크박스 스타일 */
.custom-checkbox {
    opacity: 0;
}

.custom-checkbox + label {
    position: relative;
    margin-left: -13px;
    padding-left: 30px;
    cursor: pointer;
    
}

.custom-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: white no-repeat center center;
    background-image: url("../../../images/svg/check_disabled.svg");
    border: none;
    outline: none;
    appearance: none;
}

/* 활성화 체크 모양 */
.custom-checkbox:checked + label::before {
    background: white no-repeat center center;
    background-image: url("../../../images/svg/check.svg");
    border: none;
    outline: none;
    appearance: none;
}

.custom-checkbox:checked:disabled + label::before {
    background: white no-repeat center center;
    background-image: url("../../../images/svg/check_disabled.svg");
    border: none;
    outline: none;
    appearance: none;
}

.add-modal-content input.add-modal-input.invalid {
    border: 1px solid #FA5C7C;
}
