// 
// tables.scss
//

//Table centered (Custom)
.table-centered {
    th, td {
        vertical-align: middle !important;
    }
}


// Custom table components (Custom)
.table {
    .table-user {
        img {
            height: 30px;
            width: 30px;
        }
    }
    .action-icon {
        color: #{map-get($grays, "600")};
        font-size: 1.2rem;
        display: inline-block;
        padding: 0 3px;

        &:hover {
            color: #{map-get($grays, "700")};
        }
    }
    // &>:not(:first-child) {
    //     border: inherit;
    // }
    > :not(caption) > * > * {
        background-color: var(--#{$variable-prefix}table-bg) !important;
    }
    &.table-bordered {
        tbody {
            border-top: $border-width solid;
            border-top-color: inherit;
        }
    }
    > :not(caption) > * > * {
        // min-height: 69.38px;
        padding: $table-cell-padding-y 20px;
    }
}

// Table 수정
.table.sales {
    .action-icon {
        color: #{map-get($grays, "600")};
        font-size: 1.2rem;
        display: inline-block;
        padding: 0 3px;
        &:hover {
            color: #{map-get($grays, "700")};
        }
    }
    > :not(caption) > * > * {
        background-color: var(--#{$variable-prefix}table-bg) !important;
    }
    &.table-bordered {
        tbody {
            border-top: $border-width solid;
            border-top-color: inherit;
        }
    }
    > :not(caption) > * > * {
        padding: $table-cell-padding-y 35px;
    }
}

.editTable td:hover {
    cursor: pointer;
}
// Tables fluid
.table-nowrap {
    th, td {
      white-space: nowrap;
    }
}

// 하은
div.member-table {
    position: relative;
    border-collapse: collapse;
}
div.member-table thead > tr th:first-child,
div.member-table tbody > tr td:first-child {
    position: -webkit-sticky; 
    position: sticky;
    left: 0;
    min-width: 150px;
    z-index: 1;
    background: #fff !important;
    display: block;
}
div.member-table tbody > tr td:first-child {
    box-shadow: -20px 0 5px -20px rgba(0,0,0,0.05) inset;
}

body[data-layout-color="dark"] div.member-table thead > tr th:nth-child(1),
body[data-layout-color="dark"] div.member-table tbody > tr td:nth-child(1) {
    background: var(--ct-card-bg) !important;
    border-right: 2px solid var(--ct-body-color);
}
div.member-table tbody > tr td:nth-child(1):hover {
    cursor: pointer;
}



table {
    // Table Hover
    &.table-hover {
        thead,
        tbody {
            tr {
                &:hover {
                    > * {
                        --ct-table-accent-bg: #f1f3fa;
                    }
                }
            }
        }
    }       
    // Table Active 
    tr {
        &.table-active {
            --ct-table-accent-bg: #f1f3fa;
        }
    }
    //  Table Striped
    &.table-striped {
        tbody {
            tr {
                &:nth-of-type(odd) {
                    >* {
                        --ct-table-accent-bg: #f1f3fa;
                    }
                }
            }
        }
    }
}


// Dark mode
body[data-layout-color="dark"] {
    table {
        .action-icon {
            color: #{map-get($dark-grays, "600")};
    
            &:hover {
                color: #{map-get($dark-grays, "700")};
            }
        }
        // Table Light - Dark
        .table-light {
            --ct-table-bg: #464f5b;
            color: $white;
            border-color: $table-group-separator-color;
        }
        .table-dark {
            --ct-table-bg: #424e5a;
        }
        // Table Hover
        &.table-hover {
            thead,
            tbody {
                tr {
                    &:hover {
                        > * {
                            --ct-table-accent-bg: rgba(64, 73, 84, 0.8);
                        }
                    }
                }
            }
        }       
        // Table Active 
        tr {
            &.table-active {
                --ct-table-accent-bg: rgba(64, 73, 84, 0.8);
            }
        }
        //  Table Striped
        &.table-striped {
            tbody {
                tr {
                    &:nth-of-type(odd) {
                        >* {
                            --ct-table-accent-bg: rgba(64, 73, 84, 0.8);
                        }
                    }
                }
            }
        }
    }
}


table.basic-table tbody tr {
    display: flex;
    margin-bottom: 1rem; 
    margin-right: 4px;
    align-items: center;
}
table.basic-table tbody > tr > th {
    min-width: 114px;
    color: #6C757D;
    font-weight: 500;
}
table.basic-table tbody > tr > td {
    color: #313A46;
    font-weight: 700;
}
table.basic-table input, select, textarea {
    // color: #313A46;
    // font-weight: 700;
}


.payment-wrap {
    position: relative;
    overflow: hidden;
}
.payment-wrap::after {
    content: '';
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}
.payment-list {
    overflow-y: scroll;
    height: 550px;
    flex-shrink: 0;
}
.payment-card {
    border: 1px solid #EEF2F7;
    padding: 24px;
    border-radius: 10px;
    margin-bottom: 1rem;
    .number {
        display: block;
        width: 100px;
    }
}

.payment-info {
    display: flex;
    align-items: center;
    text-align: left;
    > p {
        position: relative;
        margin: 0 20px 0 0;
    }
    > p::after {
        position: absolute;
        content: '/';
        top: 0; right: -10px;
        width: 2px; height: 15px;
    }
    > p:last-child::after {
        display: none;
    }
}

.payment-amount {
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    > p {
        font-size: 1.2rem;
        font-weight: 600;
    }
    > p:first-child {
        position: relative;
        margin-right: 50px;
    }
    > p:first-child::before {
        content: '/';
        position: absolute;
        right: -25px;
        width: 1px;
        height: 15px;
    }
}

.box-wrap {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 50px;
}